<div class="py-24 sm:py-32 border-8 border-black rounded-3xl min-h-screen bg-light-white dark:bg-dark-primary" [style]="'box-shadow: 5px 5px 0 black; outline: 3px solid black;'">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5 animate-fadeinup">
      <h2 class="col-span-2 text-5xl font-extrabold tracking-wider text-pink-600 sm:text-6xl text-light-text-primary dark:text-dark-text-primary">Stay on top of customer feedback</h2>
      <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2">
        <div>
          <dt class="text-base font-bold text-light-text-primary dark:text-dark-text-primary">
            <div class="mb-6 flex size-10 items-center justify-center rounded-full bg-yellow-400 border-4 border-pink-300 shadow-lg">
              <i class="pi pi-bolt"></i>
            </div>
            Instant Feedback on new Features
          </dt>
          <dd class="mt-2 text-lgtext-light-text-primary dark:text-dark-text-primary">Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</dd>
        </div>
        <div>
          <dt class="text-base font-bold text-light-text-primary dark:text-dark-text-primary">
            <div class="mb-6 flex size-10 items-center justify-center rounded-full bg-yellow-400 border-4 border-pink-300 shadow-lg">
              <i class="pi pi-eye"></i>
            </div>
            Share your Product Vision
          </dt>
          <dd class="mt-2 text-lg text-light-text-primary dark:text-dark-text-primary">Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</dd>
        </div>
        <div>
          <dt class="text-base font-bold text-light-text-primary dark:text-dark-text-primary">
            <div class="mb-6 flex size-10 items-center justify-center rounded-full bg-yellow-400 border-4 border-pink-300 shadow-lg">
              <i class="pi pi-trophy"></i>
            </div>
            Share your Achievements
          </dt>
          <dd class="mt-2 text-lg text-light-text-primary dark:text-dark-text-primary">Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</dd>
        </div>
        <div>
          <dt class="text-base font-bold text-light-text-primary dark:text-dark-text-primary">
            <div class="mb-6 flex size-10 items-center justify-center rounded-full bg-yellow-400 border-4 border-pink-300 shadow-lg">
              <i class="pi pi-sitemap"></i>
            </div>
            Collaborate with Customers on your Product Roadmap
          </dt>
          <dd class="mt-2 text-lg text-light-text-primary dark:text-dark-text-primary">Autem reprehenderit aut debitis ut. Officiis harum omnis placeat blanditiis delectus sint vel et voluptatum.</dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="col-span-2 flex justify-center mt-10">
    <a
      pButton
      [routerLink]="rebaseRoutePath(RoutePath.CREATE_PROJECT_INTRO)"
      class="text-light-text-primary dark:text-dark-text-primary dark:outline-dark-text-primary dark:outline font-extrabold py-3 px-8 rounded-full shadow-lg transform transition-transform hover:scale-105 animate-fadeindown"
      style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); font-size: 1.25rem;">
      Create Project
    </a>
  </div>
</div>
