<app-beta-message />
<div class="bg-slate-50 dark:bg-slate-900 isolate">
  <!-- Hero section -->
  <div class="relative pt-4">
    <div class="py-12 sm:py-32 lg:pb-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <div class="sm:mx-auto sm:w-full sm:max-w-md flex justify-center py-10 relative">
            <div class="absolute inset-0 overflow-hidden pointer-events-none">
              <app-meteors [meteorCount]="30" />
            </div>
            <img alt="Your Company" class="h-16 w-auto relative z-10" height="16" ngSrc="/logo.svg" width="16">
          </div>
          <h1 class="text-slate-800 dark:text-white text-6xl font-bold transition-transform duration-300 hover:shadow-xl hover:scale-105">
            Zenigo.io
          </h1>
          <p class="mt-8 text-pretty text-lg font-medium hover:text-indigo-500 cursor-pointer sm:text-xl/8 text-slate-600 dark:text-slate-300 animate__animated animate__bounce animate__slow hover-animation" style="text-shadow: 0 2px 4px rgba(0,0,0,0.1);">
            An all-in-one feature flag and release management solution with user-segmentation, analytics, and feedback capabilities.
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              [routerLink]="rebaseRoutePath(RoutePath.REGISTER)"
              class="bg-indigo-600 dark:bg-indigo-500 text-white px-5 py-3 text-sm font-semibold rounded-lg
              shadow-lg hover:shadow-indigo-500/20
              transform transition-all duration-300 hover:scale-105
              focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
              animate__animated animate__fadeIn animate__slower">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pb-12 mt-2 flex justify-center animate__animated animate__slideInUp">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-indigo-400">Gather Feedback</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-4xl">Actionable insights, right at your fingertips, with a single line of code</p>
      </div>

      <div class="hidden sm:block md:block lg:block xl:block 2xl:block mt-8 mx-auto max-w-2xl text-center">
        <h3 class="text-base font-semibold leading-7 text-slate-600 dark:text-slate-300">Example Implementation</h3>
        <div class="mt-4 bg-slate-800 dark:bg-slate-800/70 text-white p-4 rounded-lg shadow-md overflow-x-auto whitespace-nowrap animate__animated animate__fadeIn animate__slower">
          <code class="inline-bloc text-slate-200 dark:text-slate-200">&lt;script async defer src="https://your-subdomain.api.zenigo.io/v1/scripts/feedback-widget.js"&gt;&lt;/script&gt;</code>
        </div>
        <p class="mt-4 text-sm text-slate-600 dark:text-slate-400">Simply add this script tag to your HTML to embed the feedback widget on your site.</p>
      </div>
    </div>
  </div>

  <!-- Feature section -->
  <div class="mx-auto mt-5 max-w-7xl px-6 animate__animated animate__slideInUp">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-indigo-400">Drastically improve customer relations</h2>
      <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-slate-800 dark:text-white sm:text-5xl lg:text-balance">
      Everything you need to gather feedback from your customers</p>
      <p class="mt-6 text-pretty text-lg/8 text-slate-600 dark:text-slate-300">With the ability to embed a feedback widget directly in your
      web application.</p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        @for(featureDisplay of featureDisplays(); track $index;) {
          <app-feature-display
            [description]="featureDisplay.description"
            [primeIconClass]="featureDisplay.primeIconClass"
            [title]="featureDisplay.title"
            />
        }
      </dl>
    </div>
  </div>

  <!-- Pricing section -->
  <div class="pb-24 sm:pt-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600 dark:text-indigo-400">Pricing</h2>
        <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-slate-800 dark:text-white sm:text-5xl lg:text-balance">
        Pricing that grows with you</p>
      </div>
      @if (pricingPlans().length > 0) {
        <div
          class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          @for(pricingPlan of pricingPlans(); track $index;) {
            <app-pricing-display
              [name]="pricingPlan.name"
              [description]="pricingPlan.description"
              [monthlyPrice]="pricingPlan.monthlyPrice"
              [paymentPlanDetails]="pricingPlan"
              [tag]="pricingPlan.tag"
              />
          }
        </div>
      } @else {
        <div class="flex justify-center items-center text-center mt-10">
          <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-indigo-500"></div>
        </div>
      }
    </div>
  </div>

  <!-- FAQs -->
  <div class="mx-auto max-w-2xl divide-y divide-slate-200 dark:divide-slate-700 px-6 pb-8 sm:pb-24 sm:pt-12 lg:max-w-7xl lg:px-8 lg:pb-32">
    <h2 class="text-4xl font-semibold tracking-tight text-slate-800 dark:text-white sm:text-5xl">
      Frequently asked questions
    </h2>
    <dl class="mt-10 space-y-8 divide-y divide-slate-200 dark:divide-slate-700">
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt class="text-base font-semibold leading-7 text-slate-800 dark:text-white lg:col-span-5">
          What is Zenigo.io?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-slate-600 dark:text-slate-300">
            Zenigo.io is a fully-featured release management software aimed at fellow web developers creating their own products.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt class="text-base font-semibold leading-7 text-slate-800 dark:text-white lg:col-span-5">
          How do I add the Zenigo.io feedback widget to my website?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-slate-600 dark:text-slate-300">
            Adding the feedback widget is as simple as copying and pasting a one-line HTML script tag into your
            website's code. The widget integrates seamlessly and requires no additional setup.
          </p>
        </dd>
      </div>
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt class="text-base font-semibold leading-7 text-slate-800 dark:text-white lg:col-span-5">
          What kind of insights can I gather with Zenigo.io?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-slate-600 dark:text-slate-300">
            Zenigo.io helps you collect detailed feedback from users, including ratings, comments, and feature
            suggestions. It also provides real-time insights and analytics to help you understand your
            customers' needs better.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>
