<div class="card min-h-screen bg-light-primary dark:bg-dark-primary">
  <div>
    <h1 class="text-3xl py-8 px-4 text-light-text-primary dark:text-dark-text-primary">Organization
      Dashboard:&nbsp;<span class="italic">{{ clientStore.clientById()?.displayName }}</span></h1>
  </div>
  <div class="my-4">
    <p-table *ngIf="!projectStore.isLoading() else loadingSpinner" [tableStyle]="{ 'min-width': '60rem' }"
             [value]="projectStore.projectsForClient()">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Projects under Organization</span>
          <div>
            <a [routerLink]="rebaseRoutePathAsString(RoutePath.CREATE_PROJECT.replace(':clientId', clientId()))" class="mr-4" pButton
               pButtonIcon="pi pi-plus">Create
              Project</a>
            <p-button (click)="loadProjectsForClient(clientId())" icon="pi pi-refresh" raised rounded />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Organization</th>
          <th>Name</th>
          <th>Subdomain(s) (.zenigo.io)</th>
          <th>Custom Hostname</th>
          <th>Bug Reporting Enabled</th>
          <th>Feature Request Enabled</th>
          <th>Feature Feedback Enabled</th>
        </tr>
      </ng-template>
      <ng-template let-project pTemplate="body">
        <tr>
          <td>{{ project.client.displayName }}</td>
          <td><a [routerLink]="[rebaseRoutePathAsString(RoutePath.PROJECT_DASHBOARD.replace(':projectId', project.id))]"
            pButton>{{ project.name }}
            <i class="px-2 pi pi-arrow-right"></i></a></td>
          <td>{{ (project.subdomains?.length === 0) ? 'None' : commaListSubdomains(project.subdomains) }}</td>
          <td>{{ (project.hostnames?.length === 0) ? 'None' : project.hostnames?.[0].hostname }}</td>
          <td>
            <p-tag [severity]="getSeverity(project.isBugReportsEnabled)"
                   [value]="getSeverityLabel(project.isBugReportsEnabled)" />
          </td>
          <td>
            <p-tag [severity]="getSeverity(project.isFeatureRequestsEnabled)"
                   [value]="getSeverityLabel(project.isFeatureRequestsEnabled)" />
          </td>
          <td>
            <p-tag [severity]="getSeverity(project.isFeatureFeedbackEnabled)"
                   [value]="getSeverityLabel(project.isFeatureFeedbackEnabled)" />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">Total
        of {{ projectStore.projectsForClient() ? projectStore.projectsForClient().length : 0 }} project(s).
      </ng-template>
    </p-table>
  </div>
  <div class="my-4">
    <p-table *ngIf="!clientStore.isLoading() else loadingSpinner" [tableStyle]="{ 'min-width': '60rem' }"
             [value]="clientStore.clientById()?.members!">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Members under Organization</span>
          <div>
            <a [routerLink]="rebaseRoutePathAsString(RoutePath.CREATE_PROJECT.replace(':clientId', clientId()))" class="mr-4" pButton
               pButtonIcon="pi pi-plus">Invite
              Member</a>
            <p-button (click)="loadProjectsForClient(clientId())" icon="pi pi-refresh" raised rounded />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Organization</th>
          <th>Member E-mail</th>
          <th *ngIf="isCurrentUserAdmin()">Action</th>
        </tr>
      </ng-template>
      <ng-template let-member pTemplate="body">
        <tr>
          <td>{{ clientStore.clientById()?.displayName }}</td>
          <td>{{ member.email }}</td>
          <td *ngIf="isCurrentUserAdmin()"><button (click)="promptRemoveMember(member)" pButton raised rounded>Remove Member Privileges</button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">Total
        of {{ clientStore.clientById() ? clientStore.clientById()?.members?.length : 0 }} members(s).
      </ng-template>
    </p-table>
  </div>
  <div class="my-4">
    <p-table *ngIf="!clientStore.isLoading() else loadingSpinner" [tableStyle]="{ 'min-width': '60rem' }"
             [value]="clientStore.clientById()?.admins!">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-between">
          <span class="text-xl font-bold">Admins under Organization</span>
          <div>
            <p-button (click)="loadProjectsForClient(clientId())" icon="pi pi-refresh" raised rounded />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Organization</th>
          <th>Administrator E-mail</th>
          <th *ngIf="isCurrentUserAdmin()">Action</th>
        </tr>
      </ng-template>
      <ng-template let-admin pTemplate="body">
        <tr>
          <td>{{ clientStore.clientById()?.displayName }}</td>
          <td>{{ admin.email }}</td>
          <td *ngIf="isCurrentUserAdmin()"><button (click)="promptToggleAdmin(admin)" pButton raised rounded>Remove Admin Privileges</button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">Total
        of {{ clientStore.clientById() ? clientStore.clientById()?.admins?.length : 0 }} admin(s).
      </ng-template>
    </p-table>
  </div>
  <ng-template #loadingSpinner>
    <div class="flex justify-center items-center">
      <p-progressSpinner styleClass="mt-8" />
    </div>
  </ng-template>
</div>
